body{
	margin: 20px;
	font-family: Verdana;
}

.resaltado{
	background-color: yellow;
	color: black;
}

#menu-principal{
	padding: 10px 0px;
}

footer{
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}

h1.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
}